<header class="bg-white shadow">
  <nav class="flex justify-between items-center py-4 px-6">
      <h1 class="clickable text-xl font-bold" hx-get="${urls.handlerLandingPage}" hx-target="#main-content" hx-swap="outerHTML">Your Brand</h1>
      <ul class="flex space-x-4">
          <li hx-boost="true" hx-get="${urls.handlerFeatures}"  hx-target="#main-content" class="clickable hover:text-blue-500" hx-swap="outerHTML">Features</li>
          <li hx-boost="true" hx-get="${urls.handlerContactUs}" hx-target="#main-content" class="clickable hover:text-blue-500" hx-swap="outerHTML">Contact US</li>
          <li hx-boost="true" hx-get="${urls.handlerPrices}"    hx-target="#main-content" class="clickable hover:text-blue-500" hx-swap="outerHTML">Prices</li>
      </ul>
  </nav>
</header>